body {
    font-family: "Roboto", sans-serif;
    background-color: black;
}

.appContainer {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    background-color: rgb(48, 45, 39);
}

.navContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(104, 97, 85);
    color: white;
    background-color: transparent;
    text-align: center;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.star {
    flex: 0 1 50px;
    color: rgb(255, 255, 255);
    /* background-color: white; */
    font-variation-settings:
        'FILL' 1
}

li {
    flex: 1;
    background-color: transparent;
    padding-bottom: 5px;
}

li:hover {
    background-color: rgb(63, 59, 51);
}

.isActive {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 3px;
}



.content {
    display: grid;
    gap: 10px;
    color: white;
    background-color: rgb(48, 45, 39);
    width: 98%;
    height: 500px;
    align-self: center;
    margin-top: 1%;
    padding: 10px;
    border: 1px solid white;
}

.projectCard {
    display: grid;
    /* min-height: 200px; */
    max-height: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    corner-shape: round;
}

.cardHeader {
    display: flex;
}